body {
  background-color: black;
}
#bulb {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#buttons {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}
button {
  font-size: 1.5rem;
  padding: 10px;
  margin: 30px;
}
